@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@font-face {
  font-family: 'Roboto-bold';
  src: url('/assets/fonts/Roboto-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Roboto-light';
  src: url('/assets/fonts/Roboto-Light.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Roboto-medium';
  src: url('/assets/fonts/Roboto-Medium.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Roboto-regular';
  src: url('/assets/fonts/Roboto-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Roboto-thin';
  src: url('/assets/fonts/Roboto-Thin.ttf');
  font-weight: 200;
  font-style: normal;
  font-display: block;
}

html,
body {
  font-family: 'Roboto-light';
}

.imagecarousel::-webkit-scrollbar {
  display: none;
}
